@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");

body{
   font-family: 'Poppins';
}

.makeStyles-paper-2 {
  height: 721px!important;
  padding: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.Servicetype{
  font-family: "Poppins";
  color: black;
}

.makeStyles-nextButton-158 {
  color: rgba(0, 0, 0, 0.5);
  background-color: #00bcd4;
}


.backstep{
  margin-left: 14rem!important;
  margin-top: 1rem!important;
}
 

.css-1d6wzja-MuiButton-startIcon{
  color: #007BFF;
}
.react-calendar__month-view__days{
  display: grid!important;
  grid-template-columns: auto auto auto auto auto auto auto!important;
  gap: 8px 35px;
  width: 93%;
  margin: auto;
}


.MuiPaper-root {
  background-color: #fff !important;
}
.MuiStepper-root{
  height: 88px;
}
/* .MuiTypography-body1 {
font-family: 'Poppins'!important;
font-style: normal!important;
font-weight: 600!important;
font-size: 12px!important;
line-height: 16px!important;
letter-spacing: 0.1em;
text-transform: uppercase;
 background-color: #fff; 
padding: 13px;
color: black;
 
position: relative;
} */
.makeStyles-root-1 {
  width: 560px !important;
  margin-left: auto;
  margin-right: 0px !important;
}
.MuiStepLabel-root {
  flex-direction: column !important;
  gap: 9px;
}
.makeStyles-stepper-31 {
  padding: 24px!important;
  color: black !important;
  background: #f5f8fb !important;
  border-bottom: 1px solid #dde1eb !important;
}

.MuiCardContent-root {
  font-size: 16px;
  font-family: "Poppins";
  color: black;
  text-align: center;
  padding-top: 50px !important;
}
.MuiStepLabel-label.MuiStepLabel-active {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Primary */

  color: #007bff !important;
}
.MuiStepLabel-label {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 11px !important;
  line-height: 16px !important;
  /* identical to box height, or 145% */

  text-align: center;
  letter-spacing: 0.04em !important;
  text-transform: uppercase !important;

  /* Headings LIGHT */

  color: #1f2327 !important;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: white !important;
  /* border: 1px solid #00bcd4; */
  border: 1px solid #007bff;
  border-radius: 50%;
  /* border: #00bcd4; */
}
.MuiStepIcon-text {
  fill: #00bcd4 !important;
}

/* .react-calendar button:enabled:hover {
  background: none!important;
  color: black;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
} */

#checkoutForm {
  height: 593px;
  background: white;
  color: black;
  position: relative;
}
.MuiTypography-h6 {
  padding: 30px 15px 20px 25px;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #1f2327 !important;
}
.react-calendar__month-view__days__day--weekend{
  color: black!important;
}
.react-calendar__month-view__days__day--neighboringMonth{
  color: #757575!important;
}

.cardname {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: center;
  gap: 21px;
}
.MuiCard-root {
  overflow: hidden;
  border-radius: 16px !important;
  width: 244px;
  height: 116px;
  background-color: #fff !important;
}

/* .react-calendar button {
  flex: 0 0 13%!important;
  border-radius: 500px;
} */
.css-1qs309j-MuiButtonBase-root-MuiPickersDay-root{
  font-family: 'poppins'!important;
  font-weight: 600!important;
  color: #1F2327!important;
}
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root{
  font-family: 'poppins'!important;
  font-weight: 600!important;
  color: #1F2327!important;
}
.css-1qs309j-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  color: #fff!important;
  background-color: #007BFF!important;
}
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
  color: #fff!important;
  background-color: #007BFF!important;
}
.css-1v09r0c-MuiButtonBase-root-MuiPickersDay-root{
  font-family: 'poppins'!important;
  font-weight: 400!important;
}
.css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{
  font-family: 'poppins'!important;
  font-weight: 500!important;
  color: #1F2327!important;
}
.css-nk89i7-MuiPickersCalendarHeader-root{
  padding-left: 10px!important;
}
.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
  font-family: 'poppins'!important;
  font-weight: 300!important;
  font-size: 2rem!important;
}
.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton{
  display: none!important;
}
.css-cwhad8-MuiDateCalendar-root{
  width: 510px!important;
}
.css-9reuh9-MuiPickersArrowSwitcher-root{
  display: none!important;
}
.css-flbe84-MuiDayCalendar-weekContainer{
  gap: 40px;
}
.css-i5q14k-MuiDayCalendar-header{
  gap: 40px;
}


.MuiButton-root {
  color: black;
}
.MuiPaper-elevation1 {
  border: 1px solid #d3d7e1;
  box-shadow: none !important;
}
.MuiCardActions-root {
  justify-content: center !important;
}
.MuiButton-label {
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  letter-spacing: 0px !important;
  text-transform: none !important;
  text-align: center;
}
.MuiPaper-rounded {
  border-radius: none !important;
}
.makeStyles-buttons-32 {
  margin-top: 100px !important;
}
.MuiStepConnector-lineHorizontal {
  border-top: 1px dashed #4ca2ff !important;
}
.MuiStepConnector-root {
  margin-top: -23px !important;
}

.MuiSvgIcon-root {
  font-size: 2rem !important;
}
.makeStyles-nextButton-160{
  color: white!important;
}
.MuiStep-horizontal {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.makeStyles-stepper-3 {
  padding: 13px 32px 13px !important;
  background: #f5f8fb !important;
}
.makeStyles-buttons-4 {
  margin-top: 140px;
}
.two-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.exist {
  background: #007bff;
  padding: 12px 18px !important;
  gap: 6px;
  width: 267px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 500px !important;
  color: white !important;
}
.new {
  padding: 12px 18px !important;
  width: 221px;
  background: #edf1f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 500px !important;
}
.rectangle {
  padding-top: 65px;
  padding-bottom: 40px;
}
.MuiTypography-h5 {
  width: 100px !important;
  display: block !important;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 900 !important;
  border-radius: 24px 0px !important;
  font-size: 32px !important;
  line-height: 32px !important;
  margin-left: auto !important;
  padding-top: 33px !important;
  margin-right: auto !important;
  text-align: center !important;
  border-bottom: 10px solid #4ca2ff;
  border-right: 10px solid #4ca2ff;
  height: 100px;
  color: white;
  background: #007bff;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #007bff !important;
}

/* payment form */

.css-3hx9vb-JoyRadioGroup-root {
  display: grid !important;
  grid-template-columns: auto auto auto;
  gap: 10px !important;
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.css-ycie4v-JoySheet-root {
  padding: 8px !important;
  text-align: center !important;
}
.css-1fjq3ub-JoyRadio-root {
  font-family: "Poppins" !important;
}

.css-1su2bbo-JoyRadio-label {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #1f2327 !important;
}

.css-1wzowpn-JoyRadio-action {
  /* borderColor: '#1F2327', */
  /* border-color: #1F2327 !important; */
}
.MuiTypography-gutterBottom {
  margin-bottom: -10px!important;
}
/*----*/

.css-1ahv6t2-JoyList-root {
  display: grid !important;
  grid-template-columns: auto auto !important;
  width: 95%;
  align-items: normal !important;
  margin-left: auto auto !important;
  gap: 10px;
}

.css-b5w08v-JoySheet-root {
  border-radius: 18px;
}
.css-1obzj18-JoySheet-root {
  text-align: center;
  box-shadow: none !important;
  padding-top: 75px;
  max-width: 244px !important;
}

.css-pfaso8-JoyRadio-label {
  font-size: 15px;
  font-family: "Poppins";
  color: #1f2327;
  line-height: 20px;
  font-weight: 500;
}

/* calender */

.react-calendar {
  width: 560px !important;
  height: 376px !important;
  border: none !important;
}
.react-calendar button {
  padding: 16px 0px !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px!important;
  border-radius: 500px;
}

abbr[title] {
  text-decoration: none !important;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.react-calendar__month-view__weekdays {
  text-transform: capitalize !important;
  margin-bottom: 10px;
}

.makeStyles-nextButton-158 {
  color: white!important;
}
 

.MuiButton-root.Mui-disabled {
  color: rgba(255, 255, 255, 0.3)!important;
}
.react-calendar__navigation__arrow {
  display: none;
}

.svg-inline--fa{
  height: 13px!important;
}

.css-v2ra2r-JoyRadio-action.css-v2ra2r-JoyRadio-action {
  border-color: 1px solid #007BFF;
  border: 1px solid #007BFF;
  background-color: #E2F0FF;
  /* color: #007BFF; */
}
.css-1uz2tnr-JoyRadio-label{
  color: #007BFF!important;
}

.react-calendar__navigation {
  height: 70px !important;
}

.react-calendar__navigation button {
  margin-left: 27px !important;
  flex-grow: 0 !important;
}

.react-calendar__navigation__label__labelText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #1f2327;
}
.react-calendar__navigation button:hover {
  background-color: white !important;
}

.css-j204z7-MuiFormControlLabel-root {
  margin-left: 0px !important;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white!important;
}
/* .css-dmmspl-MuiFormGroup-root{
    display: flex!important;
    flex-direction: row!important;
    padding-top: 16px;
    padding-left: 20px;
} */

/*---SUCCESS---*/
.MuiTypography-h4 {
  padding-top: 30px;
  text-align: center;
  font-family: "Poppins" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #1f2327;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 500px !important;
  padding: 16px 30px !important;
  background-color: white !important;
  border: none !important;
  text-transform: capitalize!important;
}

.Okay {
  color: black;
  text-transform: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1f2327;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-radius: 10px !important;
}

@media screen and (max-width: 631px) {
  
  .makeStyles-root-1 {
    margin-left: auto!important;
  }
}
@media screen and (max-width: 560px) {
  
  .makeStyles-root-1 {
    width: auto!important;
  }
}

@media screen and (max-width: 540px) {

  #checkoutForm{
    height: 672px;
  }
  .bgcover{
    height: 672px!important;
  }
  .css-k3x4pj {
    bottom: -95px!important;
}
.radio-text{
  height: 250px!important;
}
.checked{
  flex-direction: column!important;
  gap: 10px!important;
}
  .css-9ou33r-JoyRadioGroup-root{
    display: flex!important;
    width: 312px!important;
    margin: auto!important;
    gap: 24px!important;
    height: auto!important;
  }
  .css-1obzj18-JoySheet-root {
    max-width: 312px!important;
    height: 116px!important;
}

.heatstep{
  width: 90%!important;
  margin: auto auto;
}
.css-3hx9vb-JoyRadioGroup-root{
  grid-template-columns: auto auto;
}

.text-para{
  width: 90%!important;
  margin: auto auto!important;
}
.text-area{
  width: 90%!important;
  margin: auto auto!important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: 100%!important;
  margin: auto auto!important;
}
.react-calendar__month-view__days{
  gap: 8px 30px;
}

}

@media screen and (min-width: 505px) {


  
}