body {
  background-image: url("/imag.png");
  background-color: #f5f5f5 !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  /*background-position: 50% 50%; /* set your desired background color */
  /* set the height to 100% of the viewport height */
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins";
}
